:root{
  --color-1: #ECEFF3;
  --color-2: #0D1B2B;
  --color-3: #176BE0;
  --color-light: #FFFFFF;
  --color-grey: #B8C0CC;
  --color-dark: #0D131A;
  color: white;
}

body{
  background-color: var(--color-2);
}